<a href="https://colab.research.google.com/github/allanstar-byte/IP_WEEK_4/blob/master/Moringa_Data_Science_Prep_W4_Independent_Project_2020_18_ALLAN_NGOMA_PythonNotebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PYTHON DATA CLEANING AND ANALYSIS** **(Autolib Dataset)**

# **1. Importing Libraries**

In [2]:
# Importing the pandas library
# 
import pandas as pd

# Importing the numpy library
#
import numpy as np

# **2.  Reading the Dataset from our CSV file**

In [3]:
#Reading the data from the CSV file and create the dataframe to be used
# 
df = pd.read_csv('/content/Autolib_dataset (2).csv')
df.head(3)

                            Address  Cars  Bluecar counter  ...  day  hour  minute
0               2 Avenue de Suffren     0                0  ...    8    11      43
1         145 Rue Raymond Losserand     6                6  ...    6     7      24
2  2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14

[3 rows x 25 columns]

# **3. Data Understanding**

In [4]:
#Checking for the data types in the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

# **4. Data Cleaning**

**4.1 Validity**

In [5]:
# Removing  Syntax Errors
#Remove white spaces between the column names
df1 = df.rename(columns={'Bluecar counter':'Bluecar_counter', 'Utilib counter':'Utilib_counter', 'Utilib 1.4 counter':'Utilib_1.4_counter', 
                               'Charge Slots':'Charge_Slots', 'Charging Status':'Charging_Status', 'Displayed comment':'Displayed_comment', 
                               'Geo point':'Geo_point', 'Postal code':'Postal_code', 'Public name':'Public_name', 'Rental status':'Rental_status', 
                               'Scheduled at':'Scheduled_at', 'Station type':'Station_type',
                          'Subscription status':'Subscription_status'})
df1.head(3)

                            Address  Cars  Bluecar_counter  ...  day  hour  minute
0               2 Avenue de Suffren     0                0  ...    8    11      43
1         145 Rue Raymond Losserand     6                6  ...    6     7      24
2  2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14

[3 rows x 25 columns]

**4.2 Accuracy**

In [6]:
#Checking whether th number of cars in the dataset are equal to 
#the number of bluecar counter
(df1.Cars == df1.Bluecar_counter).sum()

5000

**4.3 Completeness**

In [7]:
#Counting for the null/ missing values
df1.isna().sum()

Address                   0
Cars                      0
Bluecar_counter           0
Utilib_counter            0
Utilib_1.4_counter        0
Charge_Slots              0
Charging_Status           0
City                      0
Displayed_comment      4889
ID                        0
Kind                      0
Geo_point                 0
Postal_code               0
Public_name               0
Rental_status             0
Scheduled_at           4953
Slots                     0
Station_type              0
Status                    0
Subscription_status       0
year                      0
month                     0
day                       0
hour                      0
minute                    0
dtype: int64

In [8]:
#Filling the null values with zero
df2 = df1.fillna(0)
df2.head(3)

                            Address  Cars  Bluecar_counter  ...  day  hour  minute
0               2 Avenue de Suffren     0                0  ...    8    11      43
1         145 Rue Raymond Losserand     6                6  ...    6     7      24
2  2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14

[3 rows x 25 columns]

**4.4 Consistency**

In [9]:
#checking for duplicates
df2.duplicated().sum()

0

**4.5 Uniformity**

In [10]:
#changing the datatypes of some columns for easy analysis
df3 = df2.astype({"Cars": float, "Bluecar_counter": float, 'Utilib_counter': float, 'Utilib_1.4_counter': float, 'Charge_Slots':float})
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   float64
 2   Bluecar_counter      5000 non-null   float64
 3   Utilib_counter       5000 non-null   float64
 4   Utilib_1.4_counter   5000 non-null   float64
 5   Charge_Slots         5000 non-null   float64
 6   Charging_Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed_comment    5000 non-null   object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo_point            5000 non-null   object
 12  Postal_code          5000 non-null   int64
 13  Public_name          5000 non-null   object
 14  Rental_status        5000 non-null   object
 15  Scheduled_at         5000 non-null   object
 16  Slots                5000 non-null   int64
 17  Station_type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription_status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: float64(5), int64(7), object(13)
memory usage: 976.7+ KB

In [11]:
df3.head(3)

                            Address  Cars  Bluecar_counter  ...  day  hour  minute
0               2 Avenue de Suffren   0.0              0.0  ...    8    11      43
1         145 Rue Raymond Losserand   6.0              6.0  ...    6     7      24
2  2 Avenue John Fitzgerald Kennedy   3.0              3.0  ...    3    20      14

[3 rows x 25 columns]

# **5. Analysis**

In [62]:
#viewing the whole dataset
#pd.set_option("display.max_rows", None, "display.max_columns", None)
df3

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren   0.0  ...    11      43
1              145 Rue Raymond Losserand   6.0  ...     7      24
2       2 Avenue John Fitzgerald Kennedy   3.0  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©   3.0  ...     4      37
4     6 avenue de la Porte de Champerret   3.0  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte   2.0  ...    11      26
4996                   37 rue de Dantzig   4.0  ...    16      56
4997                      142 rue du Bac   1.0  ...     7       1
4998         2 avenue du Val de Fontenay   2.0  ...    17      27
4999                 5 Rue Henry Brisson   4.0  ...    10       2

[5000 rows x 25 columns]

In [74]:
#1. Identify the most popular hour of the day for picking up a shared electric
#car (Bluecar) in the city of Paris over the month of April 2018

#selecting the paris city
df4 = df3.loc[df3['City'] == 'Paris']

# selecting the blue car encounter
df5 = df4.loc[df4['Bluecar_counter'] >=0]

#sorting by the least blue car ecounter at the station
df6 = df5.sort_values('Bluecar_counter', ascending=True)

#selecting the most popular hour for picking cars in paris city
df7 = df6[['hour']]
df7.head(1)

   hour
0    11

In [64]:
#2. What is the most popular hour for returning cars?


# selecting the blue car encounter
df5 = df4.loc[df4['Bluecar_counter'] >=0]

#sorting by the most blue car ecounter at the station
df6 = df5.sort_values('Bluecar_counter', ascending=False)

#selecting the most popular hour for returning cars in paris city
df7 = df6[['hour']]
df7.head(1)

      hour
3115    17

In [75]:
#3(a) What station is the most popular?
#Overall?

df8 = df3.groupby(['Public_name']).sum().sort_values(by = 'Public_name', ascending=False)
df8.head()

                               Cars  Bluecar_counter  ...  hour  minute
Public_name                                           ...
Ãpinay-sur-Seine/Foch/53       5.0              5.0  ...    31      56
Ãpinay-sur-Seine/Fitzelin/64  13.0             13.0  ...    86     263
Ãpinay-sur-Seine/Avenir/1     23.0             23.0  ...    33      67
Yerres/Raymond PoincarÃ©/200    2.0              2.0  ...    15      55
Yerres/Pierre Brossolette/92   11.0             11.0  ...    71     202

[5 rows x 12 columns]

In [51]:
#3(b) What station is the most popular?
#At the most popular picking hour?
#sorting by the least blue car ecounter at the station
df9 = df3.sort_values('Bluecar_counter', ascending=True)

#selecting the most popular station for most picking hours in paris city
df10 = df9[['Public_name']]
df10.head(1)

       Public_name
0  Paris/Suffren/2

In [57]:
#4(a) What postal code is the most popular for picking up Blue cars?
#Does the most popular station belong to that postal code?
#Overall?

#sorting by the most blue car ecounter at the station
df11 = df3.loc[df3['Bluecar_counter'] >=0]

#selecting the overall postal code which is the most popular for picking up Blue cars
df11['Postal_code'].max()

95880

In [52]:
#4(a) What postal code is the most popular for picking up Blue cars?
#Does the most popular station belong to that postal code?
#At the most popular picking hour?

#sorting by the most blue car ecounter at the station
df13 = df3.loc[df3['Bluecar_counter'] >=0]

#sorting by the least blue car ecounter at the station so as to determine 
#the picking of the blue cars 
df14 = df12.sort_values('Bluecar_counter', ascending=True)
df14['Postal_code'].head(1)

0    75015
Name: Postal_code, dtype: int64